#root {
  margin: 0;
  font-family: "Archivo Black", sans-serif;
  background-color: #eeeeee;
  font-weight: 400;
  font-style: normal;
}

.colorcontainerbirugelap {
    background-color: #103053 ;
}

.colorcontainerkelabu {
    background-color: #eeeeee ;
}


/* This is a header css*/

.hero-image {
  background-image: url(PHONEHEADER.svg);

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



@media screen and (min-width: 700px) {
.hero-image {
  background-image: url(TABLETHEADER.svg);

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
}


@media screen and (min-width: 1392px) {
.hero-image {
  background-image: url(HEADER-01.svg);

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
}


  /* footer */
  #example2 {

    background-color :#310f71;
  
    
  }
  
  #footercolorhr{
  
  
    background-color: #7c4dff; 
    height: 2px
  
    
  }